<h1>Posts#show</h1>

<div class="card grey darken-2">
	<div class="card-content white-text">
		<h4>id: <%= @id %></h4>
		<h4><%= @post.text %></h4>
	</div>
</div>

<a href="../index" class="btn btn-large">back</a>